@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: #ffffff;
  color: #272341;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

/* ------ header ------ */
header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
header p {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__contacts a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #9491a6;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.header__contacts a:hover {
  transition: all 0.3s ease-in-out;
  color: #272341;
  text-decoration: underline;
}
.header__contacts a:not(:last-child) {
  margin-right: 1rem;
  vertical-align: center;
}
.header__contacts img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.header__title {
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #09009f;
}
.header__title span {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------ end header ------ */
.section {
  padding: 0 15px;
}

.section__title {
  font-size: 2rem;
  font-weight: 500;
  border: 1px solid #272341;
  padding: 0 10px;
  margin: 2rem 0;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------ works ------ */
.works {
  padding: 1rem;
  background: #d9e7ff;
}

.works__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

@media (max-width: 500px) {
  .works__container {
    grid-template-columns: 1fr;
  }
}
.works__item {
  text-align: center;
}
.works__item p {
  text-align: left;
}

.works__title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.works__title a {
  background: none;
  color: #272341;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.works__title a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

/* ------ end works ------ */

/* ------ examples ------ */
.examples__code {
  background-color: #272341;
  color: #ffffff;
  overflow-x: scroll;
}
/* ------ end examples ------ */